$primary: #2d7ffd ;
$accent: #554c42 ;
$warn: #e74552 ;
$tertiary: #2b2379;
$dark-blue: #1b1931;
$light-gray: rgba(56, 57, 59, 0.24);
$light-theme-text-color: #63656e;
$dark-theme-text-color: #e3e2e6;

